body {
  background-color: black;
  color: white;
}

.index--layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(70px, 10vh);
  width: 100vw;
  height: 100vh;
}

.index__title {
  background-image: linear-gradient(180deg, #ffffff 10%, #ffffff00 130%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: min(150px, 12vw);
  font-weight: 800;
  line-height: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: shine 6s linear infinite; */
}

@keyframes shine {
  0% {
    background-position: 400% 0;
  }
  100% {
    background-position: -400% 0;
  }
}

.index__navbar__menu {
  display: flex;
  gap: max(20px, 5vw);
}

.index__navbar__menu__item {
  position: relative;
}

.index__navbar__menu__item::after {
  content: '';
  position: absolute;
  left: -30%;
  bottom: -30%;
  z-index: -1;
  width: 160%;
  height: 20%;
  border-radius: 50%;
  background: radial-gradient(#ffffffa0, #ffffff00 70%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.index__navbar__menu__item:hover::after {
  opacity: 1;
}

.index__navbar__menu__item svg {
  width: min(30px, 5vw);
  height: min(30px, 5vw);
  transition: transform 0.2s ease-in-out;
}

.index__navbar__menu__item:hover svg {
  transform: scale(1.05);
}

.index__navbar__menu__item path {
  fill: rgba(255, 255, 255, 0.527);
  transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.index__navbar__menu__item:hover path {
  fill: white;
}
