body {
  background-color: black;
  color: white;
}

.index--layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: max(70px, 10vh);
  width: 100vw;
  height: 100vh;
}

.index__title {
  background: -webkit-linear-gradient(#ffffff, #ffffff41);
  font-size: min(150px, 12vw);
  font-weight: 800;
  line-height: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index__navbar__menu {
  display: flex;
  gap: max(20px, 5vw);
}

.index__navbar__menu__item {
  position: relative;
}

.index__navbar__menu__item::after {
  content: '';
  position: absolute;
  left: -30%;
  bottom: -30%;
  z-index: -1;
  width: 160%;
  height: 20%;
  border-radius: 50%;
  background: radial-gradient(#ffffffa0, #ffffff00 70%);
  opacity: 0;
}

.index__navbar__menu__item:hover::after {
  opacity: 1;
}

.index__navbar__menu__item svg {
  width: min(30px, 5vw);
  height: min(30px, 5vw);
}

.index__navbar__menu__item path {
  stroke: rgba(255, 255, 255, 0.527);
  fill: rgba(255, 255, 255, 0.527);
}

.index__navbar__menu__item:hover path {
  stroke: white;
  fill: white;
}
